@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-text;
  }

  h1 {
    @apply text-title;
    @apply font-title;
    @apply font-extrabold;
  }

  h2 {
      @apply text-subtitle;
      @apply font-title;
      @apply font-extrabold;
    }

  h3, h4, h5, h6 {
      @apply text-subtitle;
      @apply font-title;
      @apply font-bold;
    }


  button svg {
    @apply text-xl;
  }

  input {
    @apply border-solid border rounded border-button bg-input p-3 ;
  }

  input::placeholder {
    @apply text-label;
  }

  input.error {
    @apply border-pink-500 text-pink-600;
  }

  input.error::placeholder {
    @apply text-pink-600;
  }

  button.error {
    @apply border-pink-500 border border-solid text-pink-600;
  }

  button.selected {
    @apply border-purple bg-purple-light border border-solid;
  }
}

@layer components {
  .btn-primary {
    @apply px-2 py-2 rounded-md flex flex-row items-center gap-1 text-sm min-w-[2.25rem] justify-center h-9;
  }


  .btn-full {
    @apply rounded-md flex flex-row items-center justify-center py-3;
  }

  .tag {
    text-transform: uppercase;
    @apply px-2 py-1 rounded-[100px] text-[10px] leading-[13px] font-bold;
  }

  .card {
    @apply rounded-tl-md rounded-tr-3xl rounded-br-md rounded-bl-3xl;
  }

}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
